body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: left;
}
h2{
    text-align: center;
}
.container {
    background: white;
    padding: 20px;
    width: 50%;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flexbox;
    flex-direction: column;

}
li {
    background: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    background-color: #284aa7;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #3856a8;
}
